html {
  font-family: sans-serif;
}

.main_grid {
  display: grid;
  grid-template: repeat(4, minmax(300px, 50%)) / repeat(4, minmax(200px, 40vh));
}

.col {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: red;
  /* grid-area: 1 / 1 / 2 / 1; */
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
